.search {
	width: 280px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid rgba(162, 162, 162, 0.8);
	background-color: rgb(255, 255, 255);
	display: flex;
}

.search input {
	background-color: transparent;
	border: none;
	outline: none;
	align-self: center;
}

.buttonsPages button {
	width: 200px;
	height: 42px;
	font-size: 16px;
	border-radius: 18px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: center;
	margin: 5px 10px;
}

.buttonsPages .btnPrev {
	border: 2px solid rgba(0, 0, 0, 0.8);
	background-color:#E6E6E6;
	color: black;
	border-radius: 0px 50px 0px 50px;

}

.buttonsPages .btnNext {
	border: 2px solid rgba(0, 0, 0, 0.8);
	background-color:#E6E6E6;
	color: black;
	border-radius: 50px 0px 50px 0px;

}

.buttonsPages .btnPrev:hover {
	background-color: #EE171F;
	color: white;
	border-radius: 0px 50px 0px 50px;
	cursor: pointer;
}

.buttonsPages .btnNext:hover {
	background-color: #EE171F;
	color: white;
	border-radius: 50px 0px 50px 0px;
	cursor: pointer;
}

.noBtn {
display: none;
}