.search {
	width: 280px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #e6e6e6;
	/* background-color: rgb(255, 255, 255); */
	display: flex;
}

/* .search input {
	/* background-color: transparent; */

/* border: none; */
/* outline: none; */
/* align-self: center;
	background-color: rgb(20, 238, 195); */

/* }  */
