h1 {
	font-weight: 700;
	color: white;
	font-size: 40px;
}

h2 {
	font-size: 17px;
}

a {
	text-decoration: none;
	color: white;
}

/* barre de recherche et pagination */
.menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(23, 233, 12);
}


/* .buttonsPages button {
	width: 200px;
	height: 42px;
	font-size: 16px;
	border-radius: 18px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: center;
	margin: 5px 10px;
} */
/* 
.buttonsPages button:hover {
	background-color: rgb(6, 41, 183);
	color: white;
	cursor: pointer;
} */

/* page 404 */
.container_page404 {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	margin: 100px auto;
	font-size: 30px;
}
.container_page404 > img {
	width: 200px;
}
.link-home {
	display: flex;
	justify-content: center;
}
