h1 {
	font-weight: 700;
	color: rgb(0, 0, 0);
	font-size: 40px;
}

h2 {
	font-size: 17px;
	color: rgb(0, 0, 0);
}

a {
	text-decoration: none;
	color: white;
}

/* barre de recherche et pagination */
.menuSearch {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color:#e6e6e6;
}

/* .buttonsPages button {
	width: 200px;
	height: 42px;
	font-size: 16px;
	border-radius: 18px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: center;
	margin: 5px 10px;
} */
/* 
.buttonsPages button:hover {
	background-color: rgb(6, 41, 183);
	color: white;
	cursor: pointer;
} */

/* page 404 */

.container_page404 {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	margin: 100px auto;
	font-size: 30px;
}
.container_page404 > img {
	width: 200px;
}

/* .link-home {
	background-color: rgb(0, 255, 98);
	font-weight: 700;
	color: rgb(254, 254, 254);
	font-size: 20px;
	text-align: center;
	/* max-width: 100vw; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* grid-template-columns: repeat(4, 1fr); */
	/* gap: 16px;
	padding: 10px 0; */ 
/* } */ 
